<section class="hero">
  <div class="container hero-container">
    <div class="hero-text-wrap">
      <h1 class="hero-title title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button class="cta-btn" type="button">Order now</button>
    </div>
    <div class="slider">
      <div class="hero-img-frame"></div>
    </div>
  </div>
</section>
