.slider {
  display: none;
}

.hero {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #fefefe;
}

.hero-title {
  margin-bottom: 28px;
}

.hero-text {
  line-height: 1.42857;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 42px;
    line-height: 1.2;
    max-width: 520px;
    margin-bottom: 44px;
  }

  .hero-text {
    max-width: 336px;
    margin-bottom: 40px;
  }

  .hero-container {
    position: relative;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 89px;
    right: 32px;
    width: 328px;
    height: 328px;
  }

  .hero-img-frame {
    width: 320px;
    height: 320px;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 14px solid #ffe550;
  }

  .arrow-prev,
  .arrow-next {
    width: 34px;
    height: 28px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    cursor: pointer;
  }

  .arrow-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrow-next {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrow-prev-icon,
  .arrow-next-icon {
    fill: #000;
  }

  .arrow-next:active,
  .arrow-prev:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 16px;
    padding-bottom: 69px;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-title {
    font-size: 48px;
    max-width: 502px;
    margin-bottom: 28px;
  }

  .hero-text {
    margin-bottom: 40px;
    max-width: 511px;
  }

  .hero-text-wrap {
    flex-shrink: 0;
  }

  .slider {
    position: relative;
    top: 0;
    right: 0;
    width: 608px;
    height: 580px;
  }

  .hero-img-frame {
    width: 580px;
    height: 100%;
  }

  .hero-img {
    border: 26px solid #ffe550;
  }

  .arrow-prev,
  .arrow-next,
  .arrow-prev-icon,
  .arrow-next-icon {
    width: 48px;
    height: 40px;
  }

  .arrow-next:hover .arrow-next-icon,
  .arrow-next:focus .arrow-next-icon,
  .arrow-prev:hover .arrow-prev-icon,
  .arrow-prev:focus .arrow-prev-icon {
    fill: #7eb101;
  }
}
